@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  @layer base {
    :root {
      --background: 186 63% 97%;
      --background-alternate: 186 63% 90%;
      --foreground: 189 50% 5%;
      --card: 186 63% 97%;
      --card-foreground: 189 50% 5%;
      --popover: 186 63% 97%;
      --popover-foreground: 189 50% 5%;
      --primary: 188 71% 53%;
      --primary-foreground: 189 50% 5%;
      --secondary: 187 82% 74%;
      --secondary-foreground: 189 50% 5%;
      --muted: 186 63% 20%;
      --muted-foreground: 189 50% 70%;
      --accent: 188 93% 65%;
      --accent-foreground: 189 50% 5%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 189 50% 5%;
      --border: 186 63% 20%;
      --input: 186 63% 20%;
      --ring: 188 93% 40%;
      --radius: 0.5rem;
      --primary-alternate: 188 70% 60%;
      --bar-active: 188 71% 53%;
      --bar-inactive: 190 70% 43%;
    }
   
    .dark {
      --background: 180 60% 3%;
      --background-alternate: 180 60% 10%;
      --foreground: 189 52% 95%;
      --card: 180 60% 3%;
      --card-foreground: 189 52% 95%;
      --popover: 180 60% 3%;
      --popover-foreground: 189 52% 95%;
      --primary: 188 71% 47%;
      --primary-foreground: 180 60% 3%;
      --secondary: 187 82% 26%;
      --secondary-foreground: 189 52% 95%;
      --muted: 180 61% 80%;
      --muted-foreground: 189 52% 95%;
      --accent: 188 93% 35%;
      --accent-foreground: 180 60% 3%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 189 53% 10%;
      --border: 180 60% 60%;
      --input: 180 61% 80%;
      --ring: 188 93% 60%;
      --primary-alternate: 188 70% 35%;
      --bar-inactive: 187 82% 26%;
      --bar-active: 188 71% 47%;
    }
  }
